html,body {
  min-width: 500px;
  background: #eee;
  height: 100%;
  margin: 0;

}

header, footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  background-color: #333;
  color:#fff;


  border-radius: 3px;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.header-logo {
  font-size: 26px;
  margin-left: 60px;
}
header ul a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #eee;

}

header ul a:hover {
  color: #fff;
  background-color: #444;
}


.header-logo {
  float: left;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #555;

  height: 70%;
  width: 60%;
  min-width: 400px;
  max-width: 400px;

  margin-left: 30px;
  margin-right: 30px;
  border-radius: 6px;
}




main {

  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-content:space-between;

  flex-wrap: wrap;

  background: #eee;


}

.film-data {
  display: inline;
  float: left;
  width: 200px;
  height: 300px;
  background: yellow;
  margin: 10px;

  border-radius: 6px;
  }
}


footer {
  height: 50px;
  margin-top: 0;
  background: #333;
}
