main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 60px; */
}
.container{
  display: block;
  width: 80%;
  /* min-width: 1400px; */
  background-color: #fff;

  margin-top: 30px;
  margin-bottom: 30px;

  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #777;
  overflow: hidden;
}
.container:hover{
  box-shadow: 0px 10px 60px #444;
  transition-duration: 0.5s;
  background: #333;
  color: #eee;
}

/* .container::after{
  content: '';
  clear: both;
  display: table;
} */


.news_logo{
  float: left;
  width: 50%;

}


.article{
  float: left;
  width: 50%;
}

.news_title{
  text-align: left;
  margin: 10px;
  padding: 10px;
}
.news_text{
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}


@media(max-width:1400px){
  .container{
    width: 90%;
  }
  .news_logo{
    float: left;
    width: 100%;
    height: auto;
  }
  .article{
    float: left;
    width: 100%;
  }
}
