main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 600px;
}
.container{
  width: 80%;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ffd700;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #777;
}
.container:hover {

  transition-duration: 0.3s;
  box-shadow: 0px 10px 30px #666;
}
.nomination{
  margin-left: 20px;
  font-size:40px;
}
.nominee{
  margin: 20px;
  margin-left: 40px;
  font-size: 20px;
}
.winner {
  font-weight: 700;
  font-style: italic;
  color: #945;
}

.logo{
  width: 95%;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 15px;
}
